<p id="pergunta"><%= @comparacao.pergunta %></p>
<p id="total_votos"><span><%= @comparacao.total_votos.to_i %></span> votos!<p>
<div id="a">
  <%= render @comparacao.objeto_a %>
</div>
<div id="b">  
  <%= render @comparacao.objeto_b %>  
</div>
<p class="clear">
<br />
<div id="dica">Clique na foto para votar.</div>

